.main {
    padding: 10px;
    .detail-content-body{
        min-height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-originalWord{
            text-align: center;
            margin-top: 10px;
        }
        &-phoneticSymbol{
            margin-top: 10px;
            text-align: center;
        }
        &-translate{
            margin-left: 5px;
        }
    }
}