.water-fall{
    column-count: 5;
    grid-gap: 10px;
    &-item{
        padding: 0 0 10px;
    }
}
@media screen and (max-width: 1200px) {
    .water-fall {
      column-count: 4;
    }
  }
  @media screen and (max-width: 768px) {
    .water-fall {
      column-count: 2;
    }
  }
  @media screen and (max-width: 390px) {
    .water-fall {
      column-count: 1;
    }
  }
  
// @media (min-width: 1050px) {
//     .water-fall{
//         grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
//     }
// }
// @media (min-width: 769px) and (max-width: 1050px) {
//     .water-fall {
//         grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
//     }
// }
// @media (min-width: 550px) and (max-width: 768px) {
//     .water-fall {
//         grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
//     }
// }
// @media (max-width: 550px) {
//     .water-fall {
//         grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
//     }
// }